.progress-bar p::before, .progress-bar p::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1.2px;
}

.progress-bar:first-child p::before, .progress-bar:last-child p::after {
    display: none;
}